.about{
    height: 50%;
}

.about-text{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
}

.about-title{
    color: rgb(104, 105, 167);
    text-transform: uppercase;
}

.about-photo{
    width: 100%;
    height: 50%;
    width: 40%;
    background-color: rgb(50, 62, 65);
    margin-left: 25%;
}

.about-photo img{
    width: 120%;
    padding-top: 50px;
    padding-left: 25%;
}