.adminPanel{
    min-height: 100vh;
    display: flex;
    margin: 2%;
    padding-bottom: 8vh;
    font-family: "Libre Baskerville", serif; 
}

.adminPanel h1{
    color: #ffffff; 
    font-size: 20px; 
}

.option{
    background-color: rgb(38, 30, 121);
    width: 83%;
    margin-right: 2%;
    min-width: 760px;
    color: white;
    border-radius: 15px;
    padding-bottom: 25px;
    height: max-content;
    margin-left: 1%;
}

.option--style-1{
    background-color: rgb(3, 80, 37);
}

.option--style-2{
    background-color: rgb(107, 86, 15);
}

.option h1{
    margin-left: 2%;
}

.option h2{
    font-size: 24px;
    margin-left: 2%;
}


.option label{
    font-size: 24px;
    margin-left: 2%;
    padding-bottom: 15px;
}

.option input{
    margin-left: 10px;
}

.optionTitle{
    font-size: 32px !important;
}

.userNotFound{
    font-size: 24px;
    margin-left: 2%;
    color: red;
}

.managementPanel{
    background-color: rgb(38, 30, 121);
    width: 15%;
    text-align: center;
    min-width: 200px;
    border-radius: 15px;
    height: max-content;
    padding-bottom: 25px;
}

.managementPanel--style-1{
    background-color: rgb(3, 80, 37);
}

.managementPanel--style-2{
    background-color: rgb(107, 86, 15);
}

.managementPanel h1{
    font-size: 20px;
    color: #ffffff; 
}

.selectRole{
    padding: 5px;
    display: flex;
}

.userTable{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.userTable th{
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: rgb(38, 30, 121);
    font-size: 28px;
    border-width: 4px;
}

.userTable td{
    background-color: white;
    color: black;
    border-color: rgb(38, 30, 121);
    font-size: 24px;
    border-width: 8px;
}

.select{
    font-size: 24px;
    width: 55%;
    margin-right: 5%;
}

.selectRole button{
    width: 40%;
    font-size: 24px;
}

.deleteBtn{
    width: 90%;
    font-size: 24px;
}

.titleAssignRole{
    text-align: center;
}