.chat{
    display: flex;
    margin-left: 25%;
    margin-top: 1%;
    min-height: 100vh;
}

.chat__message{
    max-height: 50vh;
    width: 30vw;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 2%;
}

.send-message{
    display: flex;
    margin-top: 10px;
}

.send-message__btn{
    margin-left: 10px;
    margin-bottom: 30px;
}

.message{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    padding: 10px 15px 0px 15px;
    color: white;
    background-color: rgb(45, 45, 173);
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 10px;
    margin-bottom: 1%;
}

.message--right{
    text-align: left;
    margin-left: 25%;
}

.message--right h5{
    text-align: right;
}

.message--left{
    text-align: left;
    background-color: #8b8686;
    margin-right: 25%;
}

.send-message__textarea{
  resize: none;
  max-width: 27vw;
  padding: 15px 15px;
  box-sizing: border-box;
  border: 2px solid rgb(45, 45, 173);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
}

.chat__user-list{
    margin-left: 10%;
    padding-right: 2%;
    padding-top: 1%;
    font-size: 22px;
    color: white;
    background-color: rgb(45, 45, 173);
    height: 40vh;
    overflow-y: auto;
    border-radius: 5px;
}

.chat__single-user-ul{
    list-style-type: none;
}

.chat__single-user{
    padding-bottom: 10px;
}

.chat__single-user:hover{
    color: rgb(165, 0, 0);
    cursor: pointer;
}