.contact{
    padding: 10%;
    width: 100%;
    background-image: linear-gradient(black, rgb(104, 86, 86));
    max-width: 100%;
    color: white
}

.cover-heading{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color:rgb(223, 24, 24);
}

.contactForm{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color: rgb(163, 203, 211);
    font-size: 24px;
}

.contact_btn{
    float: right;
    background-color: rgb(88, 172, 123);
    border-color: white;
}

.contact_btn:hover{
    background-color: rgb(233, 103, 103);
    color: black;
    border-color: white;
}