.editenevtfonr {
    padding: 2% 7% 7%;       
    min-height: 150vh;
    padding-bottom: 18vh;
    background: rgb(48, 52, 92);
    font-family: "Libre Baskerville", serif; 
    color: #ffffff; 
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    min-width: 500px;
}


.titleevent{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background: rgb(48, 52, 92);
    color: #ffffff !important; 
    font-family: "Libre Baskerville", serif; 
    font-size: 32px;  
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;

}
.titleeditevent{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;

}

.descriptioneditevent{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}

.descriptionPostInput{
    height: 200px;     
    
  }

  .titleevents{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    text-align: center;
    background: rgb(48, 52, 92);
    color: #ffffff; 
    font-family: "Libre Baskerville", serif; 
    font-size: 32px;  
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;

}
.panel_post{
    background-image: linear-gradient(to right, rgb(221, 213, 228) , rgb(73, 73, 6));
    min-height: 100vh;
}


.tableevent{
    margin-left: 10%;
    margin-right: 5%;
    background-color: white;
}


.panel_post--style-1{
    background-image: linear-gradient(to right, rgb(213, 228, 213) , rgb(11, 65, 6));
   
}

.panel_post--style-2{
    background-image: linear-gradient(to right, rgb(228, 213, 217) , rgb(73, 10, 29));
}

.panelpost {
    padding: 2% 7% 7%;       
    min-height: 100vh;
    padding-bottom: 18vh;
    background: rgb(48, 52, 92);
    font-family: "Libre Baskerville", serif; 
    color: #ffffff; 
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    min-width: 500px;
}

.descriptionPostInput{
  height: 200px;
    
  
}



.titleaddpost{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
}

.descriptionaddpost{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}

#buttonaddpost {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 32px;
}

.panel_post{
    background-image: linear-gradient(to right, rgb(221, 213, 228) , rgb(73, 73, 6));
    min-height: 100vh;
}

.titlepost{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background: rgb(48, 52, 92);
    color: #ffffff; 
    font-family: "Libre Baskerville", serif; 
    font-size: 32px;  
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;

}
.descriptionPostInput{
    height: 200px;
      
    
  }

.tablepost{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.panelbottom{

   padding-bottom: 100px;
}

#paginactionposts{
    margin-left: 5%;
    margin-top: 2%;
}

.buttonreturn{
    margin-left: 5%;
    margin-top: 1%;
}