.email{
    background-image: linear-gradient(to right, rgb(221, 213, 228) , rgb(73, 73, 6));
    min-height: 100vh;
}

.email--style-1{
    background-image: linear-gradient(to right, rgb(213, 228, 213) , rgb(11, 65, 6));
}
  
  .email--style-2{
    background-image: linear-gradient(to right, rgb(228, 213, 217) , rgb(73, 10, 29));
}