.event{
    padding-bottom: 150px;
    min-height: 100vh;
}

.eventPanel{
    margin: 2% 5% 5%;
    display: flex;
}

.listEvents{
    margin-right: 5%;
}

.listEvents__events{
    width: 100%;
    height: 50vh;
    max-height: 65vh;
    overflow-y: auto;
}

.infoEvent{
    width: 70%;
    background-color: rgb(38, 30, 121);
    padding: 1%;
    border-radius: 20px;
    color: #ffffff; 
    font-size: 20px; 
    font-family: "Libre Baskerville", serif; 
}

.infoEvent--style-1{
    background-color: rgb(3, 80, 37);
}

.infoEvent--style-2{
    background-color: rgb(107, 86, 15);
}

.singleEvent{
    width: 90%;
    margin-left: 10%;
}

.dateAdded{
    float: right;
}

.infoLimit{
    text-align: center;
}

.infoDateAndLimit{
    display: flex;
}

.date{
    margin-right: 5%;
}

.opinions{
    background-color: rgb(38, 30, 121);
    color: white;
    margin-left: 32%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
}

.opinions--style-1{
    background-color: rgb(3, 80, 37);
}

.opinions--style-2{
    background-color: rgb(107, 86, 15);
}

.opinion{
    margin-top: 10px;
    padding-right: 15px;
    margin: 2%;
    background-color: rgb(167, 108, 108);
    border-radius: 10px;
    padding: 10px;
    color: white
}

.description{
    width: 70%;
    word-wrap: break-word;
    margin-bottom: 45px;
}

.eventsList{
    text-align: center;
}

.h1Event { 
    color: #191027; 
    font-family: 'Trocchi', serif; 
    font-size: 40px; 
    font-weight: normal; 
    text-shadow: 2px 2px #dfd5d5;
}

.h2Event { 
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-size: 30px; 
    line-height: 58px; 
}

.opinion h1{
    font-size: 30px; 
}

.titleEventInfo{
    font-size: 30px;
}

.authorEventInfo{
    font-size: 22px;
}

.eventButton{
    margin: 8px;
}

.buttonOpinion{
    margin-left: 5px;
}

.h1ListEvents{
    background-color: white;
    border-radius: 10px;
}

.noOpinions{
    font-size: 24px;
}

.opinion_h2{
    font-size: 18px;
}

.opinions__btns{
    float: right;
}

.opinions__btn{
    margin-left: 10px;
}