.tiitelhomeposts{
    text-align: center;
    margin-bottom: 5%;
    background-color: rgb(152, 192, 228);
    padding-top: 2%;
    padding-bottom: 2%;
}

.containerposts
{

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.buttonreadmore{

    margin-left: 80%;
    margin-bottom: 2%;

    
}

.col_grid{

    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    column-gap: 2rem;
    

}

.space{

    margin-top: 5%;
}
.marg{
    margin-left: 10%;
    margin-bottom: 2%;
    display:flex;
    border-radius: 25px;
}

.card_{

    border: 3px solid #69a5cc;
    border-radius: 25px;
    
 
}

.margin {
    margin-top: 10%;
}

.titlereadmore
{
    text-align: center;
    padding-top: 1%;
    border-radius: 25px;
    padding-bottom: 1%;
    background-color: antiquewhite;
  
}

.desreadmore
{
    text-align: center;
    padding-top: 2%;
    border-radius: 25px;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: antiquewhite;
  
}

.divpost{
    padding-top: 3%;
}