.slides{
    height: 95vh;
    position: relative;
    text-align: center;
    color: white;
}

.slides img{
    width: 100%;
    height: 100%;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 95vh;
  }

  .each-slide span {
    background-color:rgba(0, 0, 0, 0.15);
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px white; 
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
  }

  .each-slide span hr{
    color: rgb(250, 36, 36);
    height: 3px;
    border: 1.25px solid black;
    height:4px
  }

  .each-slide span h1{
    opacity: 1;
    font-size: 54px;   
  }

  .each-slide span h2{
        font-size: 48px;
  }

.each-slide span h3{
        font-size: 44px;
 }
