.LoginPanelForm {
  padding: 10% 40% 20% 40%;
  border-top: 5px solid black;
}

.LoginPanelForm h1 {
  text-transform: uppercase;
  color: rgb(228, 228, 188);
}

.form-signin input {
  margin-top: 10px;
}

.buttonLogin{
    background-color: rgb(7, 2, 68);
}

.buttonLogin:hover{
    background-color: rgb(162, 160, 185);
    color: black;
}

.linkOtherSection:hover {
  color: red;
}
