.window{
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    text-align: center;
}

.setTitleEvent{
    width: 30%;
    margin-right: 10%;
}

.titleAndDescription{
    display: flex;
}

.setDescriptionEvent{
    width: 60%;
}

.panels{
    display: flex;
}

.middlePanel{
    margin-left: 10%;
    margin-right: 10%;
}

.buttons{
    float: right;
}

.clearButton{
    float: left;
}

.singleButton{
    margin-left: 10px;
    margin-bottom: 20px;
}