.nav-content{
    min-width: 90%;
    width: 100%;
    text-transform: uppercase;
}

.linkOtherSection{
    text-decoration: none;
    color: white;
  }

.linkOtherSection--style-1{
    color: rgb(218, 232, 235);
}
  
.linkOtherSection--style-2{
    color: rgb(255, 251, 0);
}

.home-button{
    color: rgb(236, 81, 81);
}