.panelInfoEvent{
    text-align: center;
    background-color: rgb(3, 32, 68);
    padding-top: 2%;
    width: 30vw;
    min-width: 150px;
    margin-right: 50px;
    height: 75vh;
    border-radius: 25px;
    overflow-y: auto;
}

.panelInfoEvent--style-1{
    background-color: rgb(5, 99, 29);
}

.panelInfoEvent--style-2{
    background-color: rgb(151, 14, 37);
}

.infoAboutEvent{
    height: 90%;
}

.noEvents{
    text-align: center;
    background-color: white;
    width: 30vw;
    margin-right: 50px;
    min-width: 150px;
    height: 45vh;
    background-color: rgb(38, 30, 121);
    color: white;
    border-radius: 25px;
}

.noEvents--style-1{
    background-color: rgb(5, 99, 29);
}

.noEvents--style-2{
    background-color: rgb(156, 90, 101);
}

.titleNoEvent{
    padding-top: 5%;
    font-size: 32px;
}

.descriptionNoEvent{
    padding-top: 25%;
    font-size: 24px;
}

.eventManagement{
    height: 10%;
}

.eventOnList{
    background-color: rgb(38, 30, 121);
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.eventOnList--style-1{
    background-color: rgb(29, 145, 58);
}

.eventOnList--style-2{
    background-color: rgb(107, 86, 15);
}

.buttonOnEventList{
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
}

.showEvent{
    color: white;
    height: 90%;
}

.buttonCloseEvent{
    height: 10%;
    display: block;
    padding-top: 10%;
}

.showEventTitle{
    display: block;
    padding-bottom: 5%;
}

.showEventDescription{
    padding-top: 10%;
    display: block;
}