.panelpost {
    padding: 2% 7% 7%;       
    min-height: 100vh;
    padding-bottom: 18vh;
    background: rgb(48, 52, 92);
    font-family: "Libre Baskerville", serif; 
    color: #ffffff; 
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    min-width: 500px;
}

.descriptionPostInput{
  height: 200px;
    
  
}



.titleaddpost{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;
    text-align: center;
}

.descriptionaddpost{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
}

#buttonaddpost {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 32px;
}

.panel_post{
    background-image: linear-gradient(to right, rgb(221, 213, 228) , rgb(73, 73, 6));
    min-height: 100vh;
}

.titlepost{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background: rgb(48, 52, 92);
    color: #ffffff; 
    font-family: "Libre Baskerville", serif; 
    font-size: 32px;  
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;

}

#tablepost{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.panelbottom{

   padding-bottom: 100px;
}

#paginactionposts{
    margin-left: 5%;
    margin-top: 2%;
}

.buttonreturn{
    margin-left: 5%;
    margin-top: 1%;
}