.passwordRessetForm{
    padding: 10% 30% 20% 30%;
    border-top: 5px solid black;
}

.passwordRessetForm h1{
    text-transform: uppercase;
    color:rgb(228, 228, 188)
}

.passwordRessetForm h3{
    text-transform: uppercase;
    color:rgb(238, 238, 229)
}

.buttonPasswordReset{
    background-color: rgb(7, 2, 68);
}

.buttonPasswordReset:hover{
    background-color: rgb(162, 160, 185);
    color: black;
}