.userPanel{
    padding: 2% 7% 7%;
    border-top: 5px solid black;
    min-height: 100vh;
    padding-bottom: 18vh;
}

.day{
    background: white;
    height: 125px;
    width: 8vw;
    position: relative;
    overflow: auto;
}

.infoInsideDay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numberDay{
    background-color: blue;
    color: white;
    text-align: right;
    padding-right: 10px;
}

.numberDay--style-1{
    background-color: rgb(5, 99, 29);
}

.numberDay--style-2{
    background-color: rgb(255, 0, 43);
}

.titleEvent{
    background-color: rgb(20, 58, 68);
    color: white;
}

.titleEvent:hover{
    background-color: white;
    color: rgb(20, 58, 68);
}

.blankDay{
    background-color: rgb(221, 214, 214);
    height: 125px;
    width: 8vw;
    position: relative;
    overflow: auto;
}

.day:hover{
    background: black;
    color: white;
}

.week{
    display: flex;
}

.month{
    display: flex;
    margin: 2%;
}

.calendarMonth{
    background-color: royalblue;
    margin-bottom: 100px;
}

.calendarMonth--style-1{
    background-color: rgb(20, 68, 11);
}

.calendarMonth--style-2{
    background-color: rgb(143, 36, 36);
}

.calendarDay{
    text-align: center;
}

.calendarNamesDays{
    text-align: center;
    background-color: rgb(10, 8, 119);
    color: rgb(219, 226, 228);
}

.calendarNamesDays--style-1{
    background-color: rgb(3, 80, 37);
}

.calendarNamesDays--style-2{
    background-color: rgb(107, 86, 15);
}

.days{
    clear:both;
}

.nameMonth{
    background-color: rgb(10, 8, 119);
    color: rgb(219, 226, 228);
    text-align: center;
}

.nameMonth--style-1{
    background-color: rgb(3, 80, 37);
}

.nameMonth--style-2{
    background-color: rgb(107, 86, 15);
}

.nameYear{
    background-color: rgb(10, 8, 119);
    color: rgb(219, 226, 228);
    text-align: center;
}

.nameYear--style-1{
    background-color: rgb(3, 80, 37);
}

.nameYear--style-2{
    background-color: rgb(107, 86, 15);
}

.buttonPrevNext{
    margin-left: 5px;
    margin-bottom: 5px;
}

.buttonsAddEventAndPlace{
    margin-left: 5px;
    margin-bottom: 5px;
}

.userEvents{
    margin-top: 7%;
    background-color: rgb(38, 30, 121);
    color: white;
    border-radius: 15px;
    padding: 2%;
    min-width: 900px;
}

.userEvents--style-1{
    background-color: rgb(3, 80, 37);
}

.userEvents--style-2{
    background-color: rgb(107, 86, 15);
}

.userEvents h1{
    text-align: center;
    text-transform: uppercase;
}

.userInfo{
    background-color: rgb(38, 30, 121);
    font-family: "Libre Baskerville", serif; 
    color: #ffffff; 
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    min-width: 500px;
}

.userInfo--style-1{
    background-color: rgb(3, 80, 37);
}

.userInfo--style-2{
    background-color: rgb(107, 86, 15);
}

.userInfo__p{
    font-size: 24px;
}

.userInfo__management{
    text-transform: uppercase;
}

.userInfoBtn__label{
    margin-right: 10px;
    font-size: 20px;
    padding-bottom: 10px;
}

.userInfoBtn__select{
    display: flex;
    padding-bottom: 10px;
}

.userInfoBtn__form-select{
    width: 15%;
}

.userInfo__btn{
    display: flex;
    justify-content: flex-end;
}

.uerInfo__single-btn{
    text-transform: uppercase;
    margin-left: 20px;
}

.titleModifyData{
    text-align: center;
}

.titleModifyData__btns{
    text-align: center;
}