.App{
  background-image: linear-gradient(to right, rgb(221, 213, 228) , rgb(73, 73, 6));
  text-decoration: none;
}

.App--style-1{
  background-image: linear-gradient(to right, rgb(213, 228, 213) , rgb(11, 65, 6));
}

.App--style-2{
  background-image: linear-gradient(to right, rgb(228, 213, 217) , rgb(73, 10, 29));
}

.nav {
  background-color: rgb(18, 20, 44);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.nav--style-1{
  background-color: rgb(31, 43, 3);
}

.nav--style-2{
  background-color: rgb(56, 6, 15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
  color: red;
  text-decoration: none;
}

.active{
  color: red;
  text-decoration: none;
}

.container{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 95vh;
  height: auto;
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(100, 21, 21); 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #271381; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(165, 0, 0); 
}